<table>
    <tr>
        <th>Name</th>
        <th>IP</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Login Time</th>
        <th>Contact</th>
    </tr>
    {% for server in servers %}
    <tr>
        <td>{{server.name}}</td>
        <td>{{server.ip_address}} </td>
        {% for user in server.current_users.all %}
            {% for session in user.session_set.all %}
                {% if server == session.server %}
                    <tr>
                        <td colspan=2></td>
                        <td>{{user.username}}</td>
                        <td>{{user.full_name}}</td>
                        <td>
                            {% if session.login_time_full %}
                                {{session.login_time|date:"Y-m-d H:i:s"}}
                            {% else %}
                                {{session.login_time|date:"Y-m-d"}}
                            {% endif %}
                        </td>
                        <td>{{user.contact|join:", "}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        <tr><td>&nbsp;</td></tr>
    </tr>
    {% endfor %}
<table>